* {
  margin: 0;
  padding: 0;
}

.card {
  width: 500px;
  background-color: blueviolet;
  padding: 20px;
  text-align: center;
  line-height: 3rem;
  margin: auto;
  margin-top: 5rem;
  border-radius: 10px;
}

.totdoHeading {
  color: red;
  font-size: 3rem;
  margin-bottom: 10px;
}

.todoTitle {
  color: white;
  font-size: 2rem;
  text-transform: capitalize;

}

.todoDescription {
  color: white;
  font-size: 1.5rem;
}

.date {
  color: white;
  font-size: 2rem;
}